#div1 {
	background-color: pink;
}

#new-tweet {
	background-color: pink;
    border-radius: 15px;
}

h1 {
	color: navy;
    text-align: center;
}

button  {
	margin: auto;
	border-radius: 6px;
	background-color: ivory;
}

.center {
	display:  flex;
	align-items: center
}

#add-new-tweet {
	background-color: white;
	border-radius: 6px;

}

#user-t {
	border: 2px solid black;
}